html, body{
height: 100%;
margin:0;
padding:0;
border:0;
}

.bp-reset-element,body,h1,h2,h3,h4,h5,h6,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,blockquote,q,th,td,caption,table,div,span,object,iframe,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr{
margin:0;
padding:0;
border:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
display:block
}

blockquote,q{
quotes:"" ""
}

blockquote:before,blockquote:after,q:before,q:after{
content:""
}

th,td,caption{
float:none !important;
text-align:left;
font-weight:normal;
vertical-align:middle
}

table{
border-collapse:separate;
border-spacing:0;
vertical-align:middle
}

body{
font-family:"Arial", Helvetica, sans-serif;
font-smooth:always;
-webkit-font-smoothing: antialiased;
text-align: center;
letter-spacing: 0.1em;
font-weight: bold;
background-color: #000;
}

/*LINK*/
a{
color: white;
text-decoration: none;
}

a:hover{
text-decoration: line-through;
}

em{
font-style: italic;
}

img{
max-width: 100%;
height: auto;
vertical-align: middle;
border: 0; 
}

a img{
border:none
}

/*BOX ELEMENT*/
#wrapper{
width:100%
}

/*TYPOGRAPHY*/
p{
font-size:1.1em;
line-height:2em;
padding:0;
margin:1.7em 0;
}

h1{
display:block;
font-size:2em;
line-height:0.75em;
padding: 1.5em 0;
}

/*GRID BOX*/
.box{
display:block;
padding:0em 1.7em;
margin-bottom:1.7em;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
overflow:hidden;
*zoom:1
}

/*NAV*/
header{
width: 100%;
height: 40px;
padding-top: 18px;
background: #000;
z-index: 9999;
}

/*FIXED NAV*/
#fixed a{
font-size: 1.2em;
border-bottom: none;
}

#fixed .g-all-half.g-all-f{
text-align: left;
}

#fixed ul{
list-style:none;
}
#fixed li{
float: right;
padding-left:1em;
}
.fixed-nav .stuck{
position:fixed;
top:0;
}

#fixed a.active{
border-bottom: 3px solid white;
text-decoration: none !important;
display: inline-block;
padding-bottom: 3px;*/
}

/*SECTION*/
section{
height: auto;
height: 100%;
min-height: 100%;
}
/*SECTION PADDING*/
.px{
padding: 4.5em 0;
}

/*CONTAINER*/
#container{
max-width: 500px;
margin: 3em auto 0;
text-align: justify;
padding: 2em;
background-color: #000;
}
  
/*BACKGROUND IMG*/
.img{
height: 100%;
background-size: contain;
background-attachment: fixed;
background-repeat: no-repeat;
background-color: black;
}

/*SECTION*/
#i-1.j{
background-image: url(../img/law/j-3a.jpg);
background-size: contain;
background-color: black;
}
#i-1.e{
background-image: url(../img/law/e-3a.jpg);
}
#i-2.j{
background-image: url(../img/law/j-3b.jpg);
background-size: contain;
background-color: black;
}
#i-2.e{
background-image: url(../img/law/e-3b.jpg);
}
#i-3.j {
background-image: url(../img/law/j-1.jpg);
background-size: contain;
background-color: black;
}
#i-3.e{
background-image: url(../img/law/e-1.jpg);
}
#i-4{
background-size: cover;
background-color: black;
}
#about{
max-width: 800px;
background-color: black;
color: white;
text-align: justify;
font-size: 1.3em;
padding: 1em 100px 1em 1em;
line-height: 2em;
}
#player{
background-color: #000;
color: #fff;
}
#category{
background-color: #ecffec;
color: #00c04e;
}
#archive{
background-color: #00f283;
color: #fff;
}
#pickup{
background-color: #000;
color: #fff;
}
#cnt{
background-color: #000;
color: #fff;
}
#contact{
padding-bottom: 3.4em;
padding-top: 3.4em;
position: relative;
}

/*SECTION ABOUT*/
#about p{
margin: 0 0 1em;
}
#about p a{
text-decoration: underline;
}
#about p a:hover{
text-decoration: line-through;
}
/*SECTION CONTRIBUTORS*/
#cnt p{
font-size: 1em;
margin: 0;
}
#cnt .love{
font-size:1.1em;
line-height:2em;
padding:0;
margin:1.7em 0;
}
#cnt .box{
margin-bottom: 0.4em;
}
#cnt .s{
font-size: 0.5em;
}

/*SECTION ARCHIVE*/
#archive .box{
padding: 1.7em;
background-color: #fff;
margin: 0;
}
#archive h2{
text-align: left;
margin-top: 0.5em;
}
#archive .box p{
font-size: 0.9em;
text-align: left;
}
/*SECTION PLAYER*/
#player img{
/*box-shadow: 8px 8px 0px #fff;
border: 3px solid #000;*/
width: 100%;
}
#player .box{
text-align: left;
padding: 0 0.9em 0 0;
margin-bottom: 5em;
}
#player .box p{
font-size:0.8em;
line-height:1.5em;
margin: 1em 0 1.75em;
}
#player .selector-btn{
text-align: left;
font-size: 1.1em;
margin-top: 1em;
}
#player .selector-btn a{
text-decoration: underline;
}
#player .selector-btn a:hover{
text-decoration: line-through;
}
#player p.no{
font-size:0.75em;
margin: 0;
}
#player p.na{
font-size:0.7em;
margin-top: 0.4em;
margin-bottom: 0;
}
#player p.link{
font-size:0.75em;
line-height: 1.5em;
margin: 0;
}
#player p.link a{
text-decoration: underline;
}
#player p.link a:hover{
text-decoration: line-through;
}

/*SECTION pickup*/
#pickup img{
margin-bottom: 0.5em;
box-shadow: 8px 8px 0px #00f283;
border: 3px solid #000;
height: 145px;
width: 220px;
}
#pickup .box{
text-align: left;
padding: 0 0.9em 0 0;
margin-bottom: 2.5em;
}
#pickup .box p{
font-size:0.75em;
line-height:1.4em;
text-align: left;
margin: 1.5em 0 1.75em;
}
#pickup .selector-btn{
text-align: left;
font-size: 1em;
margin-top: 1em;
}
#pickup .selector-btn a{
text-decoration: underline;
}
#pickup .selector-btn a:hover{
text-decoration: line-through;
}
#pickup p.no{
font-size:0.75em;
margin: 0;
}
#pickup p.na{
font-size:0.7em;
margin-top: 0.4em;
margin-bottom: 0;
}
#pickup p.link{
font-size:0.75em;
line-height: 1.5em;
margin: 0;
}
#pickup p.link a{
text-decoration: underline;
}
#pickup p.link a:hover{
text-decoration: line-through;
}

/*SECTION CONTACT*/
#contact .box img{
height: 100%;
float:left;
padding-top:10px;
}
#contact .box {
margin: 0;
}
.logotype{
height: 210px;
background-image: url(../img/log.svg);
background-repeat: no-repeat;
background-size: contain;
background-position-x: right;
background-position-y: top;
}
.logopad{
padding-top: 105px;
}
#contact .box p{
font-size: 1em;
color: white;
margin: 0;
text-align: left;
line-height: 1.45em;
}
#contact .box p a{
border-bottom: 2px solid;
}
#contact .box p a:hover{
border-bottom: 3px solid black;
padding-bottom: 3px;
}

/*INDICATOR*/
#l-top{
position:absolute;
max-width: 300px;
top:0;
right:0;
background-color: black;
}
#l-top p{
font-size: 1.3em;
font-weight:bold;
color:#fff;
text-align: right;
line-height: 1.5em;
margin:0 0 2px;
padding: 0.8em 1em 0.8em 0;
}
#l-top p a{
text-decoration: underline;
}
#l-top p a:hover{
text-decoration: line-through;
}
#l-top p.more {
font-size:0.9em;
line-height: 1.5em;
padding: 0 1.3em 1.5em 0;
}
#l-top .title{
font-size: 1.3em;
margin: 0;
padding: 0.8em 1em;
letter-spacing: 0.05em;
}
#lng{
color: white;
padding: 0 1.6em;
text-align: right;
}
#lng a{
border-bottom: 3px solid white;
display: inline-block;
padding-bottom: 3px;*/
}
#lng a:hover{
border-bottom: none;
}
/*SOCIAL*/
#r-bottom{
display: block;
width:150px;
height: 62px;
position:absolute;
bottom:1.5em;
right:1.5em;
}
#down{
color: white;
font-size: 7em;
display: block;
position:absolute;
right:25%;
bottom:15%;
}
.fb{
float: left;
}
.tw{
float: right;
}
/*LANGUAGE*/
.e{
display: none;
}
/*MORE*/
.selector-more {
display: none;
}

/*WEB FONT*/
@font-face {
  font-family: "Executive";
  src: url("http://typefront.com/fonts/825592209.eot");
  src: local("☺"),
       url("http://typefront.com/fonts/825592209.woff") format("woff"),
       url("http://typefront.com/fonts/825592209.ttf") format("truetype"),
       url("http://typefront.com/fonts/825592209.svg") format("svg");
}

/*MEDIA*/
@media screen and (max-width: 479px){
section{padding: 4.5em 1em;}
#pad {padding-left: 1em;}
#fixed li{position: absolute;right: 1.7em;}
#pickup img{height: auto;width: 100%;}
#about{font-size: 1em;padding: 1em;line-height: 2em;}
}